{% load staticfiles %}
<!--<link rel="stylesheet" type="text/css" href="{% static 'bootstrap3/css/bootstrap.css' %}" />-->

  <link rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}">
        <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>

    <script src="{% static 'materialize/js/materialize.js' %}"></script>

 <nav class="blue accent-2">
    <div class="nav-wrapper row" style="padding-top: 1%;">

    	<div class="col s3">
    		
    		
      		    <img width="149" class="responsive-img" src="{% static 'image/flipkart_logo.png' %}">

  </div>
  
    </div>
  </nav>
<div class="row">
	<div class="col s2"></div>
	<div class='col s10'>
	<blockquote>
      <h4>SF Bulk Uploader: </h4>
      <h5>
            {% if error_message == '2' %}
              <small class='light-green accent-3'>
                File was successfully uploaded to SF.
                </small>
            {% endif %}
          {% if error_message == '1' %}
              <small class='red darken-3'>
                Your File was not valid! Error Report has been sent to your mail
                </small>
            {% endif %}

      </h5>
    </blockquote>
          
</div>
</div>
<div class="row">
  <div class="col s3"></div>
  <div class="col s6 push-s3">
		
<form method="post" action="{% url 'upload:upload_file' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        {{upload_form.file}}
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          {{upload_form.email_id}}
          {{upload_form.email_id.label_tag}}
          
        </div>
      </div>
    
            <div class="row">
            	 <div class="col s3 push-s9">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
        </div>
        </form>
  </div>
  <div class="col s3"></div>
</div>
<div>
  <div class="row">
    <div class="col s5 push-s3">
<a class="btn waves-effect waves-light" href="{% url 'upload:send_file' %}">Download Upload Format</a>
</div>
</div>
</div>

  <script>
  $(document).ready(function() {
    $('select').material_select();
  });
  </script>